# Python virtual environment
.venv/
venv/
__pycache__/

# Dependencies
node_modules/

# Environment variables file
.env
client/.env
client/.blot

# Ignore virtual environment inside server folder
server/venv/
